*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --green-color : #50DA8F;
    --blue-color : #0C2E8A;
}

.navigation-bar{
    display : flex;
    justify-content: space-between;
    padding : 10px 15px 25px;
    box-shadow: 0 2px 8px -2px rgb(163, 163, 163);
}

.title-bar{
    color : var(--green-color);
    font-size : 1.5rem;
    font-weight : 800;
    text-decoration: none;
}

.jq {
    color : var(--blue-color);
}

.nav-toggler{
    background-color : transparent;
    border : none;
    outline : none;
    transform: scale(2,1.5);
    color : rgb(78, 78, 78);
    padding : 5px;
    cursor: pointer;
}

.navbar-links{
    position: absolute;
    background-color : rgba(0,0,0,0.9);
    width : 100%;
    height : 100%;
    opacity : 0;
    pointer-events: none;
    transition : all ease 0.5s;
}

.navbar-links.displaying{
    opacity : 1;
    pointer-events: all;
}

#main-menu{
    background-color: rgba(0,0,0,0.4);
    padding : 25px 8px;
    position : absolute;
    top : 0;
    left : 0;
    width : 0%;
    height : 100%;
    opacity: 0;
    pointer-events: none;
    transition : all ease 0.5s;
}

#main-menu.displaying{
    opacity: 1;
    pointer-events: all;
    width : 50%;
}


#main-menu{
    list-style-type : none;
}

#main-menu li {
    padding : 8px;
}

#main-menu li a{
    text-decoration: none;
    color : white;
}